<head>
  <link href="https://fonts.googleapis.com/css?family=Fredericka+the+Great|Megrim|Pompiere|Raleway|Special+Elite" rel="stylesheet">
</head>
<h1 class="menu-title">Limitlessly Gourmet</h1>
<div class="flex-box">
  <div class="appetizers category-box">
    <h1 class="menu-title">Appetizers</h1>
    <% @appetizers.each do |item| %>
      <div class="item-box">
      <p class="menu-item"><%=item.name%></p>
      <p class="menu-item"><%=item.price%></p>
      </div>
    <% end %>
  </div>
  <div class="mains category-box">
    <h1 class="menu-title">Main</h1>
    <% @mains.each do |item| %>
      <div class="item-box">
      <p class="menu-item"><%=item.name%></p>
      <p class="menu-item"><%=item.price%></p>
      </div>
    <% end %>
  </div>
<div class="desserts category-box">
  <h1 class="menu-title">Dessert</h1>
    <% @desserts.each do |item| %>
      <div class="item-box">
      <p class="menu-item"><%=item.name%></p>
      <p class="menu-item"><%=item.price%></p>
      </div>
    <% end %>
  </div>
<div class="drinks category-box">
  <h1 class="menu-title">Drinks</h1>
    <% @alcohols.each do |item| %>
      <div class="item-box">
      <p class="menu-item"><%=item.name%></p>
      <p class="menu-item"><%=item.price%></p>
      </div>
    <% end %>
    <% @beverages.each do |item| %>
      <div class="item-box">
      <p class="menu-item"><%=item.name%></p>
      <p class="menu-item"><%=item.price%></p>
      </div>
    <% end %>
  </div>
</div>