<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : "Limitless" %></title>
    <meta name="description" content="<%= content_for?(:description) ? yield(:description) : "Limitless" %>">
    <%= stylesheet_link_tag 'application', 
      'https://fonts.googleapis.com/css?family=Fredericka+the+Great|Megrim|Pompiere|Raleway|Special+Elite', 
      media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <header>
      <%= render 'layouts/navigation' %>
    </header>
    <main role="main">
       <%= render 'layouts/messages' %>
       <%= yield %>
    </main>
    <footer>
      <%# <a class="instagram-link" href="https://www.instagram.com/limitlessbng/?hl=en" target="_blank">
        <i class="fas fa-check"></i>
      </a> %>
      <p>
        1450 Centre Street, Thornhill, L4J 3N1
      </p>
      <p>
        416-768-1565
      </p>
    </footer>
  </body>
</html>
